<footer>
   
</footer>


<div id="feedback-form" class="modal">
    <form name="Feedback-form" netlify>
        <input name="field" style="visibility: hidden; opacity: 0;">
        <section class="form-section">
           
        </section>

    </form>

    <div class="feedback_thankyou">
        Thanks for your feedback!
    </div>
</div>