<nav class="mobile-nav">
    <div class="mobile-nav_header">
        <div class="logo"></div>
        <div class="closer">
            <i class="fal fa-times"></i>
        </div>
        
    </div>

    <div class="mobile-nav_content">
       
    </div>
</nav>

<header class="nav-down">
    <div class="header-container">
        <div class="hamburger"><i class="fal fa-bars"></i></div>
        <a href="/"  class="logo">
            <span class="logo logo_image"></span>
        </a>
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item no-cursor">
                    
                </li>
            </ul>
        </nav>
    </div>
</header>
