<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/page.css">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="/assets/bundle.js"></script>
</head>